*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cabecalho{
background-color: #222222;
color: white;
display: flex;
justify-content: space-between;
height: 100px;
}


.footer{
    background-color: #222222;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 120px;
}


.img-header{
    padding:10px;
}

.img-footer{
    padding: 20px;
}

.div-header-img-h2{
    display: flex;
    padding-left: 20px;
}

.div-footer-img-h2{
    display: flex;
    padding-right: 40px;
}

.h2{
    padding-top: 35px;
    padding-left: 15px;
}

.h2-footer{
    padding-top: 45px;
    padding-right: 15px;
}


/* .ul-header{
    list-style-type: none;
    display: flex;
    padding: 20px 20px;
} */

.div-p{
    display: flex;
    padding: 20px 20px;   
    margin: 20px;
}

.div-p p{
    padding-left:15px;
}

.footer_div-ul{
    display: flex; 
    padding-top: 15px;
    padding-left: 45px;
}

.footer_div-ul ul{
    list-style-type: none;
}

.footer_div-ul li{
    padding-top: 5px;
}

.span-pizza{
    color: #39B24A;
}

.span-e{
    color: white;
}

.span-front{
    color:red;
}

main{

}

section{
    border: 2px solid blueviolet;
    margin: 30px;
    padding: 30px;
}